# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
.env
.env.*

# VS Code / JetBrains
.vscode/
.idea/

# Migrations (optional — only ignore if you regenerate them frequently)
**/migrations/ 
!**/migrations/__init__.py

# Static & compiled files
staticfiles/
static_root/
build/
dist/
*.egg-info/

# Mac / Linux / Windows
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log
yarn-error.log