<!-- trackalytics/templates/inventory.html -->
{% extends "base.html" %}
{% load static %}

{% block title %}Trackalytics: Add Inventory{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/inventory.css' %}">
{% endblock %}

{% block content %}
    <div id="contentArea">
        <!-- Form will be rendered here by JavaScript -->
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/renderAddInventoryForm.js' %}"></script>
    <script src="{% static 'js/attachFormSubmitHandler.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            renderAddInventoryForm();
            if (typeof attachSortDropdownHandler !== 'undefined') {
                attachSortDropdownHandler();
            }
        });
    </script>
{% endblock %}