<!-- templates/traceability_report.html -->
{% extends 'base.html' %}

{% block content %}

    <h2>Traceability Report for {{ product.product_name }}</h2>
    
    <!-- Option to export the report -->
    <a href="{% url 'export_traceability_report_csv' product.id %}">Export to CSV</a>

    <!-- Display product history -->
    <table>
        <thead>
            <tr>
                <th>Action</th>
                <th>Quantity</th>
                <th>Transaction Date</th>
            </tr>
        </thead>
        <tbody>
            {% for history in inventory_history %}
                <tr>
                    <td>{{ history.get_action_display }}</td>
                    <td>{{ history.quantity }}</td>
                    <td>{{ history.transaction_date }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No history found for this product.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
