<!-- trackalytics/templates/registration/register.html -->
{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<h1>Register</h1>
{% if form.errors %}
    <p style="color: red;">Please correct the errors below.</p>
{% endif %}
<form method="post" action="{% url 'app1:register' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Register</button>
</form>
<p>Already have an account? <a href="{% url 'login' %}">Login here</a>.</p>
{% endblock %}